@import "~antd/dist/antd.css";

.ant-alert {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 200px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-layout-header {
  height: unset;
  padding: 0;
  line-height: unset;
  background-color: white;
}

.ant-layout-header .ant-menu {
  /* line-height: 46px; */
}

.ant-layout-content {
  padding-top: 69px;
  min-height: calc(100vh - 70px);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-layout-footer {
  text-align: center;
}
