@import '~antd/dist/antd.css';

.App__alert {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 200px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__content {
  height: 100vh;
  padding-top: 69px;
  min-height: calc(100vh - 80px);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
