@import "~antd/dist/antd.css";

.ant-alert {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 200px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-layout-header {
  width: 100%;
  height: 70px;
  padding: 0;
  line-height: unset;
  background-color: white;
}

.ant-layout-content {
  background-color: white;
  /* padding-top: 69px; */
  min-height: calc(100vh - 70px);
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.ant-layout-footer {
  background-color: #f7f7f7;
  text-align: center;
}

@media (max-width: 767px) {
  .ant-layout-header {
    height: 52px;
  }
  .ant-layout-content {
    /* padding-top: 52px; */
  }
}
